body {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

h1 {
    text-align: center;
    font-family: "Cinzel", serif;
}
.controls {
    min-width: 300px;
    max-width: 500px;
    
   
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    
    &__item {
        
        margin-top: 5px;
        justify-content: flex-end;
    }
}
.shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    &__item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.btn-primary {
    width: 120px;
}

.form-control {
    border-radius: 4px 0 0 4px;
}